# - Read sheet "Australia by Residence" from Australia.xlsx
- Ignore the first 20 rows.
- List all Column and Row indexes(Print their names)

Dataset Analysis
- Describe the dataset
- Use values and index attributes on both Row and Column Indexes
- Check Shape, Datatypes and other attributes and observe the datatype of each columns' data
  

Drop
- Delete all Data where the Type = "Emigrants" or Type is not "Immigrants" (Row Deletion)
- Find columns for which more than 50% data is missing and drop them (Column Deletion)
- Drop Unnessary Columns: Type, Coverage, Area, Reg, Dev (Column deletion)
    Your columns should now look like "OdName,AreaName,RegName,DevName,1980 ... 2008"

Rename
- Rename columns :OdName -> Country; RegName -> Region
- Convert Column Names with Int type to Strings to avoid index errors with string indexing "1980, 1981 etc." => " '1980', '1981' ... " (Use rename)
- Find Total number of immigrants for all years, and create a new column Total in data Frame

Head Tail Sort
- Sort Data by the new column Total in descending order and analyze the fist few rows. (get first few rows using head)
    - find something weird in the dataset ? Delete that row 'world'
- Analyze last few rows also in the sorted result (Don't sort inplace)

- Check if these have all unique values or not:
    - countries
    - continents (AreaName)
    - country continent pairs


- Find countries for which no of immigrants for all years is 0
- Find count of above countries
- Find countries for which no of immigrants is 0 for any year

Save Data
- Drop the row where AreaName is 'World'
- Save the dataset to a new file AustraliaFiltered.xlsx

In [2]:
import pandas as pd 
import numpy as np

# Read sheet "Australia by Residence" from Australia.xlsx
Ignore the first 20 rows.
List all Column and Row indexes(Print their names)

In [43]:
#Aus = pd.read_(r"C:\Users\raina\python\My_program\CODE\Immigrants\Australia.xlsx",  skiprows = 20)

#xlsx = pd.ExcelFile(r"C:\Users\raina\python\My_program\CODE\Immigrants\Australia.xlsx")
aus= pd.read_excel(r"C:\Users\raina\python\My_program\CODE\Immigrants\Australia.xlsx", sheet_name = 'Australia by Residence',skiprows= 20)

print(aus)

           Type Coverage          OdName  AREA AreaName   REG  \
0     Emigrants     Both     Afghanistan   935     Asia  5501
1     Emigrants     Both         Albania   908   Europe   925
2     Emigrants     Both         Algeria   903   Africa   912
3     Emigrants     Both  American Samoa   909  Oceania   957
4     Emigrants     Both         Andorra   908   Europe   925
..          ...      ...             ...   ...      ...   ...
443  Immigrants     Both           Yemen   935     Asia   922
444  Immigrants     Both          Zambia   903   Africa   910
445  Immigrants     Both        Zimbabwe   903   Africa   910
446  Immigrants     Both         Unknown   999    World   999
447  Immigrants     Both           Total   999    World   999

             RegName  DEV             DevName    1980  ...    2004    2005  \
0      Southern Asia  902  Developing regions       0  ...      80     120
1    Southern Europe  901   Developed regions       0  ...      30      40
2    Northern Africa  902  Developing regions      20  ...      20      20
3          Polynesia  902  Developing regions      10  ...       0       0
4    Southern Europe  901   Developed regions       0  ...       0       0
..               ...  ...                 ...     ...  ...     ...     ...
443     Western Asia  902  Developing regions      10  ...      40      20
444   Eastern Africa  902  Developing regions     150  ...     370     240
445   Eastern Africa  902  Developing regions     630  ...    1790    1560
446            World  999               World    4060  ...    1650    1800
447            World  999               World  184290  ...  350990  363470

       2006    2007    2008  2009  2010  2011  2012  2013
0        70      80     120    ..    ..    ..    ..    ..
1        30      30      30    ..    ..    ..    ..    ..
2        30      40      50    ..    ..    ..    ..    ..
3         0       0       0    ..    ..    ..    ..    ..
4         0       0       0    ..    ..    ..    ..    ..
..      ...     ...     ...   ...   ...   ...   ...   ...
443      10      40      40    ..    ..    ..    ..    ..
444     410     410     400    ..    ..    ..    ..    ..
445    1880    2180    2270    ..    ..    ..    ..    ..
446    2320   18310    4970    ..    ..    ..    ..    ..
447  402210  460650  535970    ..    ..    ..    ..    ..

[448 rows x 43 columns]

In [33]:
print(aus.index)
print(aus.columns)

RangeIndex(start=0, stop=448, step=1)
Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')

# Dataset Analysis

Describe the dataset
Use values and index attributes on both Row and Column Indexes
Check Shape, Datatypes and other attributes and observe the datatype of each columns' data

In [34]:
aus.describe()

,AREA,REG,DEV,1980,1981,1982,1983,1984,1985,1986,...,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008
count,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,...,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000
mean,912.955357,1208.040179,902.642857,1228.348214,1331.651786,1283.660714,1134.285714,1115.580357,1187.455357,1290.803571,...,2122.946429,2337.857143,2555.982143,2611.294643,2738.125000,2514.241071,2545.357143,2709.866071,3023.348214,3376.116071
std,15.019682,1109.669573,9.165500,10145.734028,11349.461111,10643.064898,8965.372332,8805.489574,9545.180624,10588.914966,...,16727.854191,18384.758383,20198.020921,20573.219253,21745.929611,19834.528214,20203.441660,21786.641444,24542.748186,27950.462893
min,903.000000,905.000000,901.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,903.750000,914.000000,902.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
50%,908.000000,922.000000,902.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,30.000000,35.000000,40.000000,45.000000,50.000000,50.000000,50.000000,60.000000,70.000000,75.000000
75%,909.000000,926.000000,902.000000,130.000000,140.000000,160.000000,150.000000,162.500000,162.500000,182.500000,...,362.500000,372.500000,360.000000,390.000000,420.000000,400.000000,410.000000,455.000000,480.000000,512.500000
max,999.000000,5501.000000,999.000000,184290.000000,212690.000000,195200.000000,153570.000000,153530.000000,172550.000000,196690.000000,...,289870.000000,317560.000000,356410.000000,361990.000000,388450.000000,350990.000000,363470.000000,402210.000000,460650.000000,535970.000000

In [44]:
print(aus.shape)
print()
print(aus.dtypes)
print()
print(aus.size)

(448, 43)

Type        object
Coverage    object
OdName      object
AREA         int64
AreaName    object
REG          int64
RegName     object
DEV          int64
DevName     object
1980         int64
1981         int64
1982         int64
1983         int64
1984         int64
1985         int64
1986         int64
1987         int64
1988         int64
1989         int64
1990         int64
1991         int64
1992         int64
1993         int64
1994         int64
1995         int64
1996         int64
1997         int64
1998         int64
1999         int64
2000         int64
2001         int64
2002         int64
2003         int64
2004         int64
2005         int64
2006         int64
2007         int64
2008         int64
2009        object
2010        object
2011        object
2012        object
2013        object
dtype: object

19264

# Drop

Delete all Data where the Type = "Emigrants" or Type is not "Immigrants" (Row Deletion)
Find columns for which more than 50% data is missing and drop them (Column Deletion)
Drop Unnessary Columns: Type, Coverage, Area, Reg, Dev (Column deletion) Your columns should now look like "OdName,AreaName,RegName,DevName,1980 ... 2008"

In [54]:
df_index = aus[aus['Type']== 'Emigrants'].index
aus.drop(df_index, axis = 0, inplace = True)
print(aus)

           Type Coverage          OdName  AREA AreaName   REG  \
224  Immigrants     Both     Afghanistan   935     Asia  5501
225  Immigrants     Both         Albania   908   Europe   925
226  Immigrants     Both         Algeria   903   Africa   912
227  Immigrants     Both  American Samoa   909  Oceania   957
228  Immigrants     Both         Andorra   908   Europe   925
..          ...      ...             ...   ...      ...   ...
443  Immigrants     Both           Yemen   935     Asia   922
444  Immigrants     Both          Zambia   903   Africa   910
445  Immigrants     Both        Zimbabwe   903   Africa   910
446  Immigrants     Both         Unknown   999    World   999
447  Immigrants     Both           Total   999    World   999

             RegName  DEV             DevName    1980  ...    2004    2005  \
224    Southern Asia  902  Developing regions      10  ...      80     110
225  Southern Europe  901   Developed regions       0  ...     140     130
226  Northern Africa  902  Developing regions      10  ...      20      50
227        Polynesia  902  Developing regions       0  ...       0       0
228  Southern Europe  901   Developed regions       0  ...      10      10
..               ...  ...                 ...     ...  ...     ...     ...
443     Western Asia  902  Developing regions      10  ...      40      20
444   Eastern Africa  902  Developing regions     150  ...     370     240
445   Eastern Africa  902  Developing regions     630  ...    1790    1560
446            World  999               World    4060  ...    1650    1800
447            World  999               World  184290  ...  350990  363470

       2006    2007    2008  2009  2010  2011  2012  2013
224     180     140     560    ..    ..    ..    ..    ..
225     110     110     140    ..    ..    ..    ..    ..
226      30      30      60    ..    ..    ..    ..    ..
227       0       0      10    ..    ..    ..    ..    ..
228       0      10      10    ..    ..    ..    ..    ..
..      ...     ...     ...   ...   ...   ...   ...   ...
443      10      40      40    ..    ..    ..    ..    ..
444     410     410     400    ..    ..    ..    ..    ..
445    1880    2180    2270    ..    ..    ..    ..    ..
446    2320   18310    4970    ..    ..    ..    ..    ..
447  402210  460650  535970    ..    ..    ..    ..    ..

[224 rows x 43 columns]

In [56]:


aus.dropna(thresh = aus.shape[0]*0.5,how= 'any',axis= 1,inplace = True)
print(aus)

           Type Coverage          OdName  AREA AreaName   REG  \
224  Immigrants     Both     Afghanistan   935     Asia  5501
225  Immigrants     Both         Albania   908   Europe   925
226  Immigrants     Both         Algeria   903   Africa   912
227  Immigrants     Both  American Samoa   909  Oceania   957
228  Immigrants     Both         Andorra   908   Europe   925
..          ...      ...             ...   ...      ...   ...
443  Immigrants     Both           Yemen   935     Asia   922
444  Immigrants     Both          Zambia   903   Africa   910
445  Immigrants     Both        Zimbabwe   903   Africa   910
446  Immigrants     Both         Unknown   999    World   999
447  Immigrants     Both           Total   999    World   999

             RegName  DEV             DevName    1980  ...    2004    2005  \
224    Southern Asia  902  Developing regions      10  ...      80     110
225  Southern Europe  901   Developed regions       0  ...     140     130
226  Northern Africa  902  Developing regions      10  ...      20      50
227        Polynesia  902  Developing regions       0  ...       0       0
228  Southern Europe  901   Developed regions       0  ...      10      10
..               ...  ...                 ...     ...  ...     ...     ...
443     Western Asia  902  Developing regions      10  ...      40      20
444   Eastern Africa  902  Developing regions     150  ...     370     240
445   Eastern Africa  902  Developing regions     630  ...    1790    1560
446            World  999               World    4060  ...    1650    1800
447            World  999               World  184290  ...  350990  363470

       2006    2007    2008  2009  2010  2011  2012  2013
224     180     140     560    ..    ..    ..    ..    ..
225     110     110     140    ..    ..    ..    ..    ..
226      30      30      60    ..    ..    ..    ..    ..
227       0       0      10    ..    ..    ..    ..    ..
228       0      10      10    ..    ..    ..    ..    ..
..      ...     ...     ...   ...   ...   ...   ...   ...
443      10      40      40    ..    ..    ..    ..    ..
444     410     410     400    ..    ..    ..    ..    ..
445    1880    2180    2270    ..    ..    ..    ..    ..
446    2320   18310    4970    ..    ..    ..    ..    ..
447  402210  460650  535970    ..    ..    ..    ..    ..

[224 rows x 43 columns]

In [84]:
aus.drop(columns = ['Type', 'Coverage', 'AREA', 'REG', 'DEV', 2009,2010,2011,2012,2013], inplace = True )
print(aus)

            Country AreaName           Region             DevName    1980  \
224     Afghanistan     Asia    Southern Asia  Developing regions      10
225         Albania   Europe  Southern Europe   Developed regions       0
226         Algeria   Africa  Northern Africa  Developing regions      10
227  American Samoa  Oceania        Polynesia  Developing regions       0
228         Andorra   Europe  Southern Europe   Developed regions       0
..              ...      ...              ...                 ...     ...
443           Yemen     Asia     Western Asia  Developing regions      10
444          Zambia   Africa   Eastern Africa  Developing regions     150
445        Zimbabwe   Africa   Eastern Africa  Developing regions     630
446         Unknown    World            World               World    4060
447           Total    World            World               World  184290

       1981    1982    1983    1984    1985  ...    2000    2001    2002  \
224      20      30      30      70     100  ...     100      20      40
225       0       0       0       0       0  ...     110     110     200
226      50      30      10      20      20  ...      20      30      60
227       0       0       0       0      20  ...       0       0       0
228       0      10       0       0       0  ...       0      10      10
..      ...     ...     ...     ...     ...  ...     ...     ...     ...
443       0       0      10      20      10  ...      20      60      40
444     110     120     180     130     170  ...     100     190     260
445    1120    1190     980     640     500  ...     910    1500    1670
446    4440    4010    3220    3970    4610  ...    5500    5090    2160
447  212690  195200  153570  153530  172550  ...  317560  356410  361990

       2003    2004    2005    2006    2007    2008    Total
224      70      80     110     180     140     560     4630
225     250     140     130     110     110     140     1910
226      20      20      50      30      30      60      730
227       0       0       0       0       0      10       30
228       0      10      10       0      10      10      100
..      ...     ...     ...     ...     ...     ...      ...
443     150      40      20      10      40      40      570
444     430     370     240     410     410     400     5590
445    2330    1790    1560    1880    2180    2270    27350
446    1760    1650    1800    2320   18310    4970   141660
447  388450  350990  363470  402210  460650  535970  7965110

[224 rows x 34 columns]

# Rename
- Rename columns :OdName -> Country; RegName -> Region
- Convert Column Names with Int type to Strings to avoid index errors with string indexing "1980, 1981 etc." => " '1980', '1981' ... " (Use rename)
- Find Total number of immigrants for all years, and create a new column Total in data Frame

In [69]:
aus.rename(columns= {'OdName' : 'Country','RegName': 'Region'} , inplace = True)
print(aus)

            Country AreaName           Region             DevName    1980  \
224     Afghanistan     Asia    Southern Asia  Developing regions      10
225         Albania   Europe  Southern Europe   Developed regions       0
226         Algeria   Africa  Northern Africa  Developing regions      10
227  American Samoa  Oceania        Polynesia  Developing regions       0
228         Andorra   Europe  Southern Europe   Developed regions       0
..              ...      ...              ...                 ...     ...
443           Yemen     Asia     Western Asia  Developing regions      10
444          Zambia   Africa   Eastern Africa  Developing regions     150
445        Zimbabwe   Africa   Eastern Africa  Developing regions     630
446         Unknown    World            World               World    4060
447           Total    World            World               World  184290

       1981    1982    1983    1984    1985  ...    1999    2000    2001  \
224      20      30      30      70     100  ...     270     100      20
225       0       0       0       0       0  ...      70     110     110
226      50      30      10      20      20  ...      30      20      30
227       0       0       0       0      20  ...       0       0       0
228       0      10       0       0       0  ...      10       0      10
..      ...     ...     ...     ...     ...  ...     ...     ...     ...
443       0       0      10      20      10  ...      20      20      60
444     110     120     180     130     170  ...      60     100     190
445    1120    1190     980     640     500  ...     510     910    1500
446    4440    4010    3220    3970    4610  ...    2850    5500    5090
447  212690  195200  153570  153530  172550  ...  289870  317560  356410

       2002    2003    2004    2005    2006    2007    2008
224      40      70      80     110     180     140     560
225     200     250     140     130     110     110     140
226      60      20      20      50      30      30      60
227       0       0       0       0       0       0      10
228      10       0      10      10       0      10      10
..      ...     ...     ...     ...     ...     ...     ...
443      40     150      40      20      10      40      40
444     260     430     370     240     410     410     400
445    1670    2330    1790    1560    1880    2180    2270
446    2160    1760    1650    1800    2320   18310    4970
447  361990  388450  350990  363470  402210  460650  535970

[224 rows x 33 columns]

In [79]:
total = aus[1980] +aus[1981] +aus[1982] +aus[1983] +aus[1984] +aus[1985]  +aus[1986] +aus[1987] +aus[1988] +aus[1989] +aus[1990] +aus[1991] +aus[1992] +aus[1993] +aus[1994] +aus[1996] +aus[1995] +aus[1997] +aus[1998] +aus[1999] +aus[2000] +aus[2001] +aus[2002] +aus[2003] +aus[2004] +aus[2005] +aus[2006] +aus[2007] +aus[2008]
aus['Total'] = total
print(aus)

            Country AreaName           Region             DevName    1980  \
224     Afghanistan     Asia    Southern Asia  Developing regions      10
225         Albania   Europe  Southern Europe   Developed regions       0
226         Algeria   Africa  Northern Africa  Developing regions      10
227  American Samoa  Oceania        Polynesia  Developing regions       0
228         Andorra   Europe  Southern Europe   Developed regions       0
..              ...      ...              ...                 ...     ...
443           Yemen     Asia     Western Asia  Developing regions      10
444          Zambia   Africa   Eastern Africa  Developing regions     150
445        Zimbabwe   Africa   Eastern Africa  Developing regions     630
446         Unknown    World            World               World    4060
447           Total    World            World               World  184290

       1981    1982    1983    1984    1985  ...    2000    2001    2002  \
224      20      30      30      70     100  ...     100      20      40
225       0       0       0       0       0  ...     110     110     200
226      50      30      10      20      20  ...      20      30      60
227       0       0       0       0      20  ...       0       0       0
228       0      10       0       0       0  ...       0      10      10
..      ...     ...     ...     ...     ...  ...     ...     ...     ...
443       0       0      10      20      10  ...      20      60      40
444     110     120     180     130     170  ...     100     190     260
445    1120    1190     980     640     500  ...     910    1500    1670
446    4440    4010    3220    3970    4610  ...    5500    5090    2160
447  212690  195200  153570  153530  172550  ...  317560  356410  361990

       2003    2004    2005    2006    2007    2008    Total
224      70      80     110     180     140     560     4630
225     250     140     130     110     110     140     1910
226      20      20      50      30      30      60      730
227       0       0       0       0       0      10       30
228       0      10      10       0      10      10      100
..      ...     ...     ...     ...     ...     ...      ...
443     150      40      20      10      40      40      570
444     430     370     240     410     410     400     5590
445    2330    1790    1560    1880    2180    2270    27350
446    1760    1650    1800    2320   18310    4970   141660
447  388450  350990  363470  402210  460650  535970  7965110

[224 rows x 34 columns]

# Head Tail Sort
- Sort Data by the new column Total in descending order and analyze the fist few rows. (get first few rows using head)
    - find something weird in the dataset ? Delete that row 'world'
- Analyze last few rows also in the sorted result (Don't sort inplace)

In [91]:
aus.sort_values(by = 'Total', ascending = False).head(20)

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
447,Total,World,World,World,184290,212690,195200,153570,153530,172550,...,317560,356410,361990,388450,350990,363470,402210,460650,535970,7965110
432,United Kingdom of Great Britain and Northern I...,Europe,Northern Europe,Developed regions,43540,57050,51730,31660,25150,27630,...,51000,52940,57330,70150,53140,53300,57250,61490,65160,1333340
367,New Zealand,Oceania,Australia and New Zealand,Developed regions,34370,34440,23920,13620,16900,27070,...,47230,45570,29500,28000,40710,44680,45550,39120,46960,898760
434,United States of America,Northern America,Northern America,Developed regions,10470,12080,12490,11110,11840,12480,...,18030,19230,18950,18980,18540,18490,17320,19260,20860,450370
266,"China, Hong Kong Special Administrative Region",Asia,Eastern Asia,Developing regions,4170,4380,4980,5480,7450,6820,...,16410,18620,20200,19220,9740,10070,10270,9680,11030,388640
265,China,Asia,Eastern Asia,Developing regions,860,870,560,580,1220,2190,...,16700,22220,29000,33410,29860,28820,32190,42920,54300,387180
345,Malaysia,Asia,South-Eastern Asia,Developing regions,12390,14420,12820,12330,11690,11100,...,10900,12520,14810,16880,12540,13130,13890,13540,14950,346370
319,India,Asia,Southern Asia,Developing regions,1220,1560,1870,2090,2300,2510,...,10390,9380,9240,15080,18310,19920,27880,41920,58400,291500
327,Japan,Asia,Eastern Asia,Developed regions,2240,2980,2930,3200,3250,3760,...,10930,21200,24810,19030,11900,10920,10370,10640,10230,266510
401,Singapore,Asia,South-Eastern Asia,Developing regions,2850,3560,2950,2940,2910,2920,...,12080,15390,17310,16020,16340,17520,19350,16990,18080,264300
320,Indonesia,Asia,South-Eastern Asia,Developing regions,5990,4400,3780,4330,4070,3880,...,13640,15390,13650,13840,8970,7960,8350,8370,9960,228250
381,Philippines,Asia,South-Eastern Asia,Developing regions,3610,4050,4430,4510,4010,4700,...,4750,4650,5290,5460,7160,8070,10040,11160,13760,186270
406,South Africa,Africa,Southern Africa,Developing regions,3890,4200,4160,3310,2310,3310,...,9180,10590,8850,9890,7090,7900,7970,8790,13450,170800
417,Thailand,Asia,South-Eastern Asia,Developing regions,4730,5300,4230,6790,3530,3100,...,5070,6970,7690,7900,7630,8370,9990,11750,13350,162860
386,Republic of Korea,Asia,Eastern Asia,Developing regions,390,620,1030,870,880,1180,...,5630,7420,8650,9640,10210,11670,13950,15390,17240,156680
446,Unknown,World,World,World,4060,4440,4010,3220,3970,4610,...,5500,5090,2160,1760,1650,1800,2320,18310,4970,141660
260,Canada,Northern America,Northern America,Developed regions,2920,3770,3830,3170,3030,3390,...,5710,6050,6240,6430,6350,6520,6700,7020,7930,140860
302,Germany,Europe,Western Europe,Developed regions,3300,4620,7140,5160,2800,2700,...,4650,5180,5170,5390,4870,4980,5240,6110,6710,121310
440,Viet Nam,Asia,South-Eastern Asia,Developing regions,130,70,200,920,2860,2140,...,3430,3800,4410,4840,4500,5110,6610,8310,11210,119060
323,Ireland,Europe,Northern Europe,Developed regions,950,1470,1500,1220,740,1500,...,5050,5500,5490,6040,4560,4410,4630,6130,8930,95870

In [99]:
df_index1 = aus[aus['AreaName'] == 'World'].index
r = aus.drop(df_index1,axis=0)
print(r)

                       Country AreaName           Region             DevName  \
224                Afghanistan     Asia    Southern Asia  Developing regions
225                    Albania   Europe  Southern Europe   Developed regions
226                    Algeria   Africa  Northern Africa  Developing regions
227             American Samoa  Oceania        Polynesia  Developing regions
228                    Andorra   Europe  Southern Europe   Developed regions
..                         ...      ...              ...                 ...
441  Wallis and Futuna Islands  Oceania        Polynesia  Developing regions
442             Western Sahara   Africa  Northern Africa  Developing regions
443                      Yemen     Asia     Western Asia  Developing regions
444                     Zambia   Africa   Eastern Africa  Developing regions
445                   Zimbabwe   Africa   Eastern Africa  Developing regions

     1980  1981  1982  1983  1984  1985  ...  2000  2001  2002  2003  2004  \
224    10    20    30    30    70   100  ...   100    20    40    70    80
225     0     0     0     0     0     0  ...   110   110   200   250   140
226    10    50    30    10    20    20  ...    20    30    60    20    20
227     0     0     0     0     0    20  ...     0     0     0     0     0
228     0     0    10     0     0     0  ...     0    10    10     0    10
..    ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...
441     0     0     0     0     0     0  ...     0     0     0     0    10
442     0     0     0     0     0     0  ...     0     0     0     0     0
443    10     0     0    10    20    10  ...    20    60    40   150    40
444   150   110   120   180   130   170  ...   100   190   260   430   370
445   630  1120  1190   980   640   500  ...   910  1500  1670  2330  1790

     2005  2006  2007  2008  Total
224   110   180   140   560   4630
225   130   110   110   140   1910
226    50    30    30    60    730
227     0     0     0    10     30
228    10     0    10    10    100
..    ...   ...   ...   ...    ...
441     0     0     0     0     10
442     0     0     0     0      0
443    20    10    40    40    570
444   240   410   410   400   5590
445  1560  1880  2180  2270  27350

[222 rows x 34 columns]

In [101]:
aus.sort_values(by = 'Total', ascending = False).tail(15)

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
297,French Guiana,Latin America and the Caribbean,South America,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
358,Montserrat,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,10,10
442,Western Sahara,Africa,Northern Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
308,Guadeloupe,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
353,Mayotte,Africa,Eastern Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
427,Turks and Caicos Islands,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
435,United States Virgin Islands,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
315,Holy See,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
306,Greenland,Northern America,Northern America,Developed regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
262,Central African Republic,Africa,Middle Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
392,Saint Helena,Africa,Western Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
393,Saint Kitts and Nevis,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
395,Saint Vincent and the Grenadines,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
230,Anguilla,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
270,Comoros,Africa,Eastern Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Check if these have all unique values or not:
    - countries
    - continents (AreaName)
    
    - country continent pairs

In [167]:
print(aus.Country.is_unique)
print(aus.AreaName.is_unique)

SyntaxError: invalid syntax (<ipython-input-167-e84ca60e6ec5>, line 4)

# - Find countries for which no of immigrants for all years is 0
- Find count of above countries
- Find countries for which no of immigrants is 0 for any year

In [146]:
r= aus.loc[(aus[1980] == 0 ) & (aus[1981]==0) & (aus[1982]==0) & (aus[1983]==0) & (aus[1984]==0) & (aus[1985]==0) & (aus[1986]==0) & (aus[1987]==0) & (aus[1988]==0) & (aus[1989]==0) & (aus[1981]==0) & (aus[1990]==0) & (aus[1991]==0) & (aus[1992]==0) & (aus[1993]==0) & (aus[1994]==0) & (aus[1995]==0) & (aus[1996]==0) & (aus[1997]==0) & (aus[1998]==0) & (aus[1999]==0) & (aus[2000]==0) & (aus[2001]==0) & (aus[2002]==0) & (aus[2003]==0) & (aus[2004]==0) & (aus[2005]==0) & (aus[2006]==0) & (aus[2007]==0) & (aus[2008]==0) ]
print(r['Country'])

r.Country.count()

230                            Anguilla
262            Central African Republic
270                             Comoros
306                           Greenland
308                          Guadeloupe
315                            Holy See
353                             Mayotte
392                        Saint Helena
393               Saint Kitts and Nevis
395    Saint Vincent and the Grenadines
427            Turks and Caicos Islands
435        United States Virgin Islands
442                      Western Sahara
Name: Country, dtype: object

13

In [148]:
r= aus.loc[(aus[1980] == 0 ) | (aus[1981]==0) | (aus[1982]==0) | (aus[1983]==0) | (aus[1984]==0) | (aus[1985]==0) | (aus[1986]==0) | (aus[1987]==0) | (aus[1988]==0) | (aus[1989]==0) | (aus[1981]==0) | (aus[1990]==0) | (aus[1991]==0) | (aus[1992]==0) | (aus[1993]==0) | (aus[1994]==0) | (aus[1995]==0) | (aus[1996]==0) | (aus[1997]==0) | (aus[1998]==0) | (aus[1999]==0) | (aus[2000]==0) | (aus[2001]==0) | (aus[2002]==0) | (aus[2003]==0) | (aus[2004]==0) | (aus[2005]==0) | (aus[2006]==0) | (aus[2007]==0) | (aus[2008]==0) ]
print(r['Country'])

r.Country.count()

225                         Albania
227                  American Samoa
228                         Andorra
229                          Angola
230                        Anguilla
                   ...
435    United States Virgin Islands
437                      Uzbekistan
441       Wallis and Futuna Islands
442                  Western Sahara
443                           Yemen
Name: Country, Length: 121, dtype: object

121

In [150]:
df_index1 = aus[aus['AreaName'] == 'World'].index
aus.drop(df_index1,axis=0, inplace = True)
print(aus)

                       Country AreaName           Region             DevName  \
224                Afghanistan     Asia    Southern Asia  Developing regions
225                    Albania   Europe  Southern Europe   Developed regions
226                    Algeria   Africa  Northern Africa  Developing regions
227             American Samoa  Oceania        Polynesia  Developing regions
228                    Andorra   Europe  Southern Europe   Developed regions
..                         ...      ...              ...                 ...
441  Wallis and Futuna Islands  Oceania        Polynesia  Developing regions
442             Western Sahara   Africa  Northern Africa  Developing regions
443                      Yemen     Asia     Western Asia  Developing regions
444                     Zambia   Africa   Eastern Africa  Developing regions
445                   Zimbabwe   Africa   Eastern Africa  Developing regions

     1980  1981  1982  1983  1984  1985  ...  2000  2001  2002  2003  2004  \
224    10    20    30    30    70   100  ...   100    20    40    70    80
225     0     0     0     0     0     0  ...   110   110   200   250   140
226    10    50    30    10    20    20  ...    20    30    60    20    20
227     0     0     0     0     0    20  ...     0     0     0     0     0
228     0     0    10     0     0     0  ...     0    10    10     0    10
..    ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...
441     0     0     0     0     0     0  ...     0     0     0     0    10
442     0     0     0     0     0     0  ...     0     0     0     0     0
443    10     0     0    10    20    10  ...    20    60    40   150    40
444   150   110   120   180   130   170  ...   100   190   260   430   370
445   630  1120  1190   980   640   500  ...   910  1500  1670  2330  1790

     2005  2006  2007  2008  Total
224   110   180   140   560   4630
225   130   110   110   140   1910
226    50    30    30    60    730
227     0     0     0    10     30
228    10     0    10    10    100
..    ...   ...   ...   ...    ...
441     0     0     0     0     10
442     0     0     0     0      0
443    20    10    40    40    570
444   240   410   410   400   5590
445  1560  1880  2180  2270  27350

[222 rows x 34 columns]

In [154]:
aus.to_excel(r"C:\Users\raina\python\aish\AustraliaFiltered.xlsx")